
  <!--Footer full-width, avec img de fond-->
  <footer>
    <!-- Div content pour contenir le contenu sur une largeur de 950px, centré-->
    <div class="content">
        <!--  Premier lien avec image (icone) vers ma page facebook-->
        <a href="https://www.facebook.com/julene.delvaux/" target="_blank"><img src="assets/img/icon-facebook.png" alt="Icon Logo Facebook"></a>
        <!--Deuxième lien avec image (icone) vers ma page Instagram-->
        <a href="https://www.instagram.com/ju272928/" target="_blank"><img src="assets/img/icon-instagram.png" alt="Icon Logo instagram"></a>
        <!--Troisième lien avec image (icone) vers mon e-mail-->
        <a href="mailto:julene.delvaux@gmail.com"><img src="assets/img/icon-mail.png" alt="Icon Mail"></a>
        <!--Quatrième lien avec image (icone) vers mon adresse sur Google maps-->
        <a href="https://goo.gl/maps/si7koaW6zZznyP5x8" target="_blank"><img src="assets/img/icon-maps.png" alt="Icon Logo maps"></a>
        <!--Texte copyright-->
        <p>&copy; Delvaux Julène - 2021</p>
    </div>
    <!-- Fin footer-->
</footer>
