
    <app-nav></app-nav>
    <!--Ouverture Section class content de 950px qui contient le contenu de la page-->
    <section class="content">

      <!-- Photo de présentation-->
      <img src="assets/img/portrait.png" alt="Portrait" class="portrait">

      <!--Div qui contient titre et text de présentation et lien vers l'IPEPS-->
      <div class="whoiam">

          <h2>Qui suis-je?</h2>
          <p>Je m’appelle Julène Delvaux. </p>

          <p>Je suis originaire de la province de Liège. Je suis étudiante en 1ere année en section Web Developer en promotion social à l’<a href="http://www.seraingsup.be/" target="_blank">Institut Provincial de Seraing</a>.</p>

          <p> Je suis également maman de deux garçons qui m'apporte de l'inspiration tous les jours.
              J'aime pratiquer le dessin et la peinture durant mes temps libres.

          </p>
          <!-- Button type submit qui va afficher mon cv en PDF dans un nouvel onglet grâce à target-->
          <form action="assets/liens/Cv-DelvauxJulene.pdf" target="_blank">
              <button type="submit">Afficher mon CV</button>
          </form>
          <!-- Fermeture de la div-->
      </div>
      <!-- Fin du flottement de la div-->
      <div class="clear"></div>
<!--Fermeture de la section-->
  </section>

  <app-footer></app-footer>
