/**************************************/
/************** GENERAL****************/
/**************************************/

/*Class content de 950px de large et centré avec le margin auto*/
.content {
  width: 950px;
  margin: 0 auto;
}

/*Pour les liens en général pas de décoration et couleur mauve*/
a {
  text-decoration: none;
  color: #743F83;
}

/*Supprime le float*/
.clear {
  clear: both;
}

/**************************************/
/************** TITRES ****************/
/**************************************/

/*Tout les titres niveau 2 sont en merienda 30px avec un letter-spacing pour l'estétique*/
h2 {
  font-family: 'Merienda', cursive;
  font-size: 30px;
  letter-spacing: -0.03em;
}

/*Supprime les margin et padding du h2 de la div class whoiam afin qu'il remonte*/
.whoiam h2 {
  margin: 0;
  padding: 0;
}

/*Tous les titres niveau 3 sont en merienda 20px sans margin du haut*/
h3 {
  font-family: 'Merienda', cursive;
  font-size: 20px;
  letter-spacing: -0.03em;
  margin-top: 0;

}

/**************************************/
/************** CONTENUS***************/
/**************************************/

/*Class de la photo dans presentation. Border-radius pour des coins arrondis et un filtre contrast pour l'estéthique, et margin pour aligner la photo au premier lien de la nav et avoir une marge avec la div sur la droite.*/
.portrait {
  margin: 0 30px 0 58px;
  border-radius: 30px;
  filter: contrast(120%);
}

/*Class de la div avec le texte pour la page presentation, en float pour s'aligné à la photo. d'une largeur de 500px, une hauteur de 408px qui est l'hauteur de la photo et un padding pour que le texte ne dépasse pas le dernier lien de la nav.
Police Josefin Sans 20px */
.whoiam {
  float: right;
  width: 500px;
  padding-right: 38px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  height: 408px;
}

/**************************************/
/************** BUTTON ****************/
/**************************************/


/*Bouton CV*/
/*Les buttons sont pareilles pour toutes les pages. padding 10px pour l'estéthique, coins arrondis, texte en police Josefin SANS 20px, couleur blanc pour la visibilité et en fond bleu*/
button {
  border: none;
  padding: 10px;
  border-radius: 12px;
  background-color: #05CDE7;
  font-family: 'Josefin Sans', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
}
